{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        
      google.maps.LatLng.prototype.distanceFrom = function(latlng) {
      var lat = [this.lat(), latlng.lat()]
      var lng = [this.lng(), latlng.lng()]
      var R = 6378137;
      var dLat = (lat[1]-lat[0]) * Math.PI / 180;
      var dLng = (lng[1]-lng[0]) * Math.PI / 180;
      var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
      Math.cos(lat[0] * Math.PI / 180 ) * Math.cos(lat[1] * Math.PI / 180 ) *
      Math.sin(dLng/2) * Math.sin(dLng/2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var d = R * c;
      return Math.round(d);
    }
      
      var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -25.297109, lng: -57.602432},
          zoom: 13,
          });

        
        //var infoWindow = new google.maps.InfoWindow({map: map});
        
        
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            
          map.setCenter(pos);    
            //infoWindow.setPosition(pos);
            //infoWindow.setContent('Usted esta aqui!');
            

         
              marker = new google.maps.Marker({

                      icon:'{% static 'main/images/markerVerdeEstas.png' %}',
                        map: map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: {lat: position.coords.latitude, lng: position.coords.longitude}//-25.268938, -57.564090
          });
    
          google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){ 
            return function() {
                //infowindow.setContent(contentString);
               // infowindow.open(map,marker);
                //windows.push(infowindow)
                google.maps.event.addListener(infowindow,'click', function(){ 
                    infowindow.close();
                }); 
            };
        })(marker,contentString,infowindow));


          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        
        {% for foodpark in foodparks %}
        
        marker = new google.maps.Marker({

                      icon:'{% static 'main/images/hamburguesa.png' %}',
                        map: map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: {lat: {{ foodpark.lat_foodpark }}, lng: {{ foodpark.lon_foodpark }}}//-25.268938, -57.564090
          });
        
        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
		'<table >'+
		'<tbody>'+
		'<tr>'+
		'<td>'+
        '<img src="{{ foodpark.logo.url }}" alt="{{foodpark.nombre_foodpark}}" width="100" height="100">'+
        '</td>'+
        '<td style="padding-left: 30px;">'+
        '<h4>{{ foodpark.nombre_foodpark }}</h4>'+
        '<p>{{ foodpark.descripcion_corta }}</p>'+
        '</td>'+
        '</tr>'+
        '</tbody>'+
        '</table>'+
        '</div>';
        
        var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
        
        //  marker.addListener('click', function() {       
        //     infowindow.open(map, marker);
        //     if (marker.getAnimation() !== null) {
        //        marker.setAnimation(null);
        //      } else {
        //        marker.setAnimation(google.maps.Animation.BOUNCE);
        //      }
        //  });
          
          google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){ 
            return function() {
                infowindow.setContent(contentString);
                infowindow.open(map,marker);
                //windows.push(infowindow)
                google.maps.event.addListener(infowindow,'click', function(){ 
                    infowindow.close();
                }); 
            };
        })(marker,contentString,infowindow));
          {% endfor %}
        
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
      
      
    </script>
   <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJmszO-B7lkETJhE1cDBBgX6-b8uSU-ec&callback=initMap&libraries=geometry">
    </script>

			<div class="contact-section" id="contact">
				<div class="container">
					<h3>Contáctanos</h3>
                    <h4>Sos dueño de un foodpark o trabajas en uno?</h4>
                    <h4>Escribinos para agregar tus datos y aumenta tus beneficios</h4>
					<div class="contact-grids wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
			<div class="col-md-4 contactgrid">
				<input type="text" class="text" value="nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' name';}">
				</div>
				<div class="col-md-4 contactgrid">
				<input type="text" class="text" value="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'email';}">
				</div>
				<div class="col-md-4 contactgrid">
				<input type="text" class="text" value="telefono" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'phone';}">
				</div>
				<div class="col-md-8 contactgrid1">
				<textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Tu mensaje</textarea>
				</div>
				<div class="col-md-4 contactgrid2">
				<input type="button" value="Enviar mensaje">
			   </div>
			   <div class="clearfix"></div>
				</div>
				</div>
				</div>
			</div>
			<div class="footer-section">
				<div class="container">
					<div class="footer-top wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">">
								<div class="social-icons">
										<a href="#"><i class="icon4"></i></a>
										<a href="#"><i class="icon5"></i></a>
										<a href="#"><i class="icon6"></i></a>
									</div>
								</div>
							<div class="footer-bottom">
						<p> &copy;2017  Todos los derechos reservados | Diseñado por<a href="http://creatu.co" target="target_blank">CreaTu</a></p>
						</div>
						<script type="text/javascript">
						$(document).ready(function() {
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a class="scroll" href="#head" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


					</div>
				</div>
{% endblock %}